{% extends 'base.html' %}

{% block content %}
	<html>
	<body>
		<h3> House Predictions - Machine Learning Project</h3>

	<div>
		<form id='prediction' method='POST'>
			Living Area (square ft) <input type='number' name='GrLifArea' min='300' max='4000'><br/>
			Overall Quality of Materials <input type='number' name='GrLifArea' min='300' max='4000'><br/>
			
			<br></br>
			<input type='submit' value='Submit'>
		</form>
		<br></br>
		<h1>Predicted Sale Price Range: {{prediction}}</h1>
	</body>
	</html>

{% endblock %}